{% extends "layout.html" %}

{% block title %}
    CAS Data
{% endblock %}

{% block main %}   
<main class="container py-5">
    <table class="table table-striped" id ="purchase_table" name="purchase_table">
        <thead>
            <tr>
                <th class="text-start">Chemical</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Priority</th>
                <th class="text-center">Order Date</th>
                <th class="text-end">Purchase Date</th>
            </tr>
        </thead>
       <tbody>
        {% for row in orders %}
                <tr>
                    <form action="/purchase" method="post">
                    <!-- show chemical-->
                    <td class="text-start"> {{row[0]}}</td>
                    <!-- show amount-->
                    <td class="text-center">{{row[1]}} {{row[2]}}</td>
                    <!-- show priority-->
                    <td class="text-center">{{row[5]}}</td>
                    <!-- show order date-->
                    <td class="text-center">{{row[3]}}</td>
                    <!-- if no purchase date, show purchase button, else show purchase date-->
                    {%if row[6] == None %}
                        <input id='chemical' type= "hidden" name = 'chemical' value = '{{row[0]}}'>
                        <input id='amount' type= "hidden" name = 'amount' value = '{{row[1]}}'>
                        <input id='unit' type= "hidden" name = 'unit' value = '{{row[2]}}'>
                        <input id='date' type= "hidden" name = 'date' value = '{{row[3]}}'>
                        <td class="text-end"> <button class ="button_sds_database btn btn-primary" type="submit">Purchase</button></td>
                    {%else%}
                        <td class="text-end">{{row[6]}}</td>
                    {% endif %}

                    </form>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    
        </main>
{% endblock %}
